extends ./tpl/layout/__base.pug


block title
	- var page_title = "True Story";
	title= page_title


block main
	
	
	// .page
	main.page
		
		
		// .form
		fieldset.form
			div.container
				form(method='post' action='#')
					
					
					// .field 'Login'
					div.field
						input.input(
							name='auth__fld__login'
							placeholder='логин'
							value=''
							type='text'
							autocomplete='off'
							tabindex=1)
						span.brd
					// /.field 'Login'
					
					
					// .field 'Password'
					div.field
						input.input(
							name='auth__fld__pwd'
							placeholder='пароль'
							value=''
							type='password'
							autocomplete='off'
							tabindex=2)
						span.brd
					// /.field 'Password'
					
					
					// .field 'Message'
					div.field
						textarea.textarea(
							name='auth__fld__msg'
							placeholder='сообщение...'
							type='password'
							autocomplete='off'
							cols='auto'
							rows='auto'
							tabindex=3)
						span.brd
					// /.field 'Password'
					
					
					// .action
					div.action
						button.btn(
							name='auth__btn__signin'
							value='войти'
							type='button'
							tabindex=4)
							span войти
					// /.action
					
					
		// /.form
		
		
	// /.page.home