extends ./tpl/layout/__base.pug


block title
	- var page_title = "True Story";
	title= page_title


block main
	
	
	// .page
	main.page
		
		
		// .form
		fieldset.form
			div.container
				form(method='post' action='#')
					
					
					// .field 'E-mail'
					div.field
						input.input(
							name='auth__fld__email'
							placeholder='Ваш e-mail'
							value=''
							type='text'
							autocomplete='off'
							tabindex=1)
						span.brd
					// /.field 'E-mail'
					
					
					// .field 'Subject'
					div.field
						input.input(
							name='auth__fld__subj'
							placeholder='Заголовок'
							value=''
							type='text'
							autocomplete='off'
							tabindex=2)
						span.brd
					// /.field 'Subject'
					
					
					// .field 'Message'
					div.field
						textarea.textarea(
							name='auth__fld__msg'
							placeholder='Сообщение...'
							autocomplete='off'
							autoresize='on'
							cols='auto'
							rows='1'
							tabindex=3)
						span.brd
					// /.field 'Message'
					
					
					// .action
					div.action
						button.btn(
							name='auth__btn__signin'
							value='войти'
							type='button'
							tabindex=4)
							span Отправить
					// /.action
					
					
		// /.form
		
		
	// /.page.home