extends ./tpl/layout/__base.pug


block title
	- var page_title = "True Story";
	title= page_title


block content
	
	
	// Content
	main.content
		
		
		// Home
		main.home
			
			
			// Container
			div.container
				
				
				// Logo
				div.logo-holder
					p.logo
						span.true True
						span.story Story…
				// /Logo
				
				
				// Form
				fieldset.auth
					div.field
						input.input(
							name='auth__fld__login'
							placeholder='логин'
							value=''
							type='text'
							tabindex=1)
					div.field
						input.input(
							name='auth__fld__pwd'
							placeholder='пароль'
							value=''
							type='password'
							tabindex=2)
					div.action
						button.btn(
							name='auth__btn__signin'
							value='войти'
							type='button'
							tabindex=3) войти
				// /Form
				
				
			// /Container
			
			
		// /Home
		
		
	// /Content