extends ./tpl/layout/__base.pug


block title
	- var page_title = "True Story";
	title= page_title


block main
	
	
	// .page--home
	main.page.page--home
		
		
		// .home--logo
		div.home--logo
			div.container
				p.logo
					span.true
						span.t T
						span.r r
						span.u u
						span.e e
					span.story
						span.s S
						span.t t
						span.o o
						span.r r
						span.y y
					span.dots
						span.d1 .
						span.d2 .
						span.d3 .
		// /.home--logo
		
		
		// .home--signin
		fieldset.home--signin
			div.container
				form(method='post' action='#')
					
					
					// .field 'Login'
					div.field
						input.input(
							name='signin__fld__login'
							placeholder='логин'
							value=''
							type='text'
							autocomplete='off'
							tabindex=1)
						span.brd
					// /.field 'Login'
					
					
					// .field 'Password'
					div.field
						input.input(
							name='signin__fld__pwd'
							placeholder='пароль'
							value=''
							type='password'
							autocomplete='off'
							tabindex=2)
						span.brd
					// /.field 'Password'
					
					
					// .action
					div.action
						button.btn(
							name='signin__btn__enter'
							value='войти'
							type='button'
							tabindex=3)
							span войти
					// /.action
					
					
		// /.home--signin
		
		
		// .home--links
		div.home--links
			div.container
				ul.list
					li.item
						a.link(href='#' tabindex=4) Забыли пароль?
					li.item
						a.link(href='#' tabindex=5) Регистрация
		// /.home--links
		
		
	// /.page--home