extends ./tpl/layout/__base.pug


block title
	- var page_title = "True Story";
	title= page_title


block content
	
	
	// Content
	main.content
		
		
		// Page Home
		main.page.home
			
			
			// Container
			div.container
				
				
				// Logo
				div.home__logo
					p.logo
						span.true
							span.t T
							span.r r
							span.u u
							span.e e
						span.story
							span.s S
							span.t t
							span.o o
							span.r r
							span.y y
						span.dots
							span.d1 .
							span.d2 .
							span.d3 .
				// /Logo
				
				
				// Form
				form(method='post' action='#')
					
					
					// Auth
					fieldset.home__auth
						
						
						// Field 'Login'
						div.field
							input.input(
								name='auth__fld__login'
								placeholder='логин'
								value=''
								type='text'
								autocomplete='off'
								tabindex=1)
							span.brd
						// /Field 'Login'
						
						
						// Field 'Password'
						div.field
							input.input(
								name='auth__fld__pwd'
								placeholder='пароль'
								value=''
								type='password'
								autocomplete='off'
								tabindex=2)
							span.brd
						// /Field 'Password'
						
						
						// Action
						div.action
							button.btn(
								name='auth__btn__signin'
								value='войти'
								type='button'
								tabindex=3)
								span войти
						// /Action
						
						
					// /Auth
					
					
				// /Form
				
				
				// Links
				ul.home__links
					li.item
						a.link(href='#') Забыли пароль?
					li.item
						a.link(href='#') Регистрация
				// /Links
				
				
			// /Container
			
			
		// /Page Home
		
		
	// /Content